.intro-cont {
  margin-top: 5%;
}

.intro-cont .text-col {
  padding: 2% 7%;
}

.intro-cont .text-col .new {
  background-color: black;
  border-radius: 15px;
  width: 65px !important;
  height: 30px;
  margin-top: 15px;
  margin-right: 10px;
}

.intro-cont .text-col .new p {
  margin: 8% 12%;
  color: white !important;
}

.intro-cont .text-col p {
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #a0a1ac;
}

.intro-cont .text-col h1 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 70px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: 0;
}

.intro-cont .text-col h3 {
  font-family: "Barlow", sans-serif;
  margin-bottom: 5%;
  font-size: 20px;
  font-weight: 400;
  color: #a0a1ac;
}

.intro-cont .text-col .demo-btn {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 18px;
  background-color: #ff5c5c;
  color: white;
  border-radius: 10px !important;
  padding: 0 5% !important;
  margin-right: 15px !important;
}

.intro-cont .text-col .demo-btn:hover {
  background-color: white;
  border: 1px solid #ff5c5c !important;
  color: #ff5c5c !important;
}

.intro-cont .text-col h4 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  color: #a0a1ac;
}

@media screen and (max-width: 789px) {
  .intro-cont {
    margin-top: 5%;
  }
  .intro-cont .text-col {
    margin-right: 5%;
    margin-top: 5%;
  }
  .intro-cont .text-col h1 {
    font-size: 60px;
    padding-right: 5%;
  }
  .intro-cont .text-col h3 {
    font-size: 18px;
    padding-left: 5px;
  }
  .intro-cont .text-col .demo-btn {
    font-size: 15px;
    width: 50%;
    padding: 0 2% !important;
  }
  .intro-cont .text-col h4 {
    font-size: 13px;
    letter-spacing: 0.5px;
  }
  .reverse {
    display: flex;
    flex-flow: column-reverse;
  }
}
