.text-cont {
  text-align: center;
}

.text-cont h1 {
  color: red;
  font-size: 50px;
}

.text-cont h3 {
  color: orange;
  font-size: 25px;
}

.text-cont button {
  color: white;
  background-color: orangered;
}

.text-cont button:hover {
  background-color: yellow;
  color: black;
}
